body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(157, 185, 189);
}
header{
    text-align: center;
}
.avatar {
    height: 300px;
    width: 300px;
    margin-top: 30px;
    border-radius: 8px;

}
.title_main {
    font-size: 24px;
}
.title__subtitle {
    font-size: 18px;
    color: rgb(59, 59, 59);
}
main {
    border: 2px solid black;
    border-bottom: 0;
    padding: 12px;
    text-align: center;
}
.skils__ol li{
    list-style: none;
}
.galerry {
    display: block;
}
.galerry_img{
    width: 400px;
}
.separator {
    width: 100%;
    height: 5px;
}
.video iframe {
    width: 300px;
    height: 400px;
    max-width: 600px;
}
.eduacation__table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}
.eduacation__table th,
.eduacation__table td {
    border: 1px solid black;
    padding: 16px;
}
.quote {
    font-weight: 500;
    font-size: 33px;
}
.form {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.form__input {
    width: 100%;
}
.textarea {
    margin-top: 14px;
    width: 90%;
}
.form__submit {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 120px;
}
footer {
    width: 100%;
    height: 120px;
    background-color: beige;
}
.contracts {
    text-align: center;
}
.contacts__link {
    color: black;
    font-weight: 700;
}
/* <iframe width="887" height="499" src="https://www.youtube.com/embed/1QVd3MnXJH8" title="Miyagi &amp; Эндшпиль feat. Рем Дигга - Untouchable (Official Audio)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> */